# Import Pandas and Numpy libraries

In [35]:
import numpy as np
import pandas as pd

Checking the version of pandas and numpy

In [36]:
print(pd.__version__)
print(np.__version__)

0.25.1
1.16.5

# import a dataset

In [37]:
df = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle = pd.read_csv(df, sep='\t')

# Display top 10 records

In [38]:
chipotle.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# Number of observations in dataset

In [39]:
chipotle.shape[0] #only obersevations or rows

4622

In [40]:
chipotle.shape # no.of rows and columns

(4622, 5)

# Print all columns of a dataset

In [41]:
chipotle.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

# Print the most ordered Item

In [42]:
item = chipotle.groupby('item_name')
item = item.sum()
item = item.sort_values(['quantity'], ascending=False)
item.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

# Print most ordered item in the choice_description column

In [43]:
item = chipotle.groupby('item_name').sum()
item = item.sort_values(['quantity'], ascending=False)
item.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

# Print total number of orders for items

In [44]:
total_items = chipotle.quantity.sum()
print(total_items)

4972

# Check the datatype of item price

In [45]:
chipotle.item_price.dtype

dtype('O')

In [46]:
usdollar = lambda x: float(x[1:-1])
chipotle.item_price = chipotle.item_price.apply(usdollar)

In [47]:
chipotle.item_price.dtype

dtype('float64')

# How much was the revenue for the period in the dataset

In [50]:
revenue = (chipotle['quantity']* chipotle['item_price']).sum()
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

# How many orders were made in the period

In [53]:
orders = chipotle.order_id.value_counts().count()
print(orders)

1834

# What is the average revenue amount per order

In [61]:
chipotle['revenue'] = chipotle['quantity'] * chipotle['item_price']
order_grouped = chipotle.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [63]:
chipotle.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

# How many different items are sold

In [64]:
chipotle.item_name.value_counts().count()

50